<div class="row">
    <div class="col-md-12">
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["SuccessMessage"]
            </div>
        }
        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["ErrorMessage"]
            </div>
        }
        @if (ViewData["InfoMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @ViewData["InfoMessage"]
            </div>
        }
    </div>
</div>