@{
    ViewData["Title"] = "Marka Sil";
}
@model ArabamiSatWeb.Models.Parametre.Marka

@Html.Partial("Partials/_MessagePartial")
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Marka : @Model.Ad</h5>
            </div>
        </div>
    </div>
    <a class="btn btn-sm btn-success" href="/Parametre/MarkaListe" role="button">Geri Dön</a>
</div>

