@{
    ViewData["Title"] = "Marka Güncelle";
}
@model ArabamiSatWeb.Models.Parametre.Marka

@Html.Partial("Partials/_MessagePartial")
<div class="row">
    <div class="col-md-12">
        <form asp-action="MarkaGuncelle" enctype="multipart/form-data" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div> 
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Ad" class="control-label"></label>
                <input asp-for="Ad" type="text" class="form-control" />
                <span asp-validation-for="Ad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Güncelle" class="btn btn-sm btn-primary" />
                <a class="btn btn-sm btn-success" href="/Parametre/MarkaListe" role="button">Geri Dön</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script type="text/javascript">

    </script>
} 
