@{
    ViewData["Title"] = "Araba Sil";
}
@model ArabamiSatWeb.Models.Araba.Araba

<div class="row">
    <div class="col-md-12">
        @if (ViewData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                @ViewData["SuccessMessage"]
            </div>
        }
        @if (ViewData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @ViewData["ErrorMessage"]
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <h5 class="card-title">Araba : Silindi </h5>
            </div>
        </div>
    </div>
    <a class="btn btn-sm btn-success" href="/Arabam/Arabalarim" role="button">Geri Dön</a>
</div>